<div id="deleteView" name="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Edit Product Data</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure wants to delete this product? this product will be permanently delete in the database, you can not retrieve this product again in the future if you are deleting this product now</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button id="deleteProductJs" name="{{product.id}}" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>