<div id="ipdetails"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 id="exampleModalLabel" class="modal-title">Network Connection Details</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="modalclose">
                <p>Are you sure wants to delete this product? this product will be permanently delete in the database, you can not retrieve this product again in the future if you are deleting this product now</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="enDetails"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 id="exampleModalLabel" class="modal-title">Customer Entity Details</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="modalclose">
               <div class="form-payment-method">
                        
                        <div class="form-group" id="emailEntity" style="max-width:100%;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >Email</label>
                            <input  id="emailEntityValue" class="form-control"  autocomplete="off" disabled/>
                        </div>

                       <div class="form-group" id="phoneEntity" style="max-width:100%;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >Phone</label>
                            <input  id="phoneEntityValue" class="form-control"  autocomplete="off" disabled/>
                        </div>
                         
                        <div class="form-group" id="cookieEntity" style="max-width:100%;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >Cookie</label>
                            <input   id="cookieEntityValue" class="form-control"  autocomplete="off" disabled/>
                        </div>

                        <div class="form-group" id="userIdEntity" style="max-width:100%;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >User Id</label>
                            <input   id="userIdEntityValue" class="form-control"  autocomplete="off" disabled/>
                        </div>

                        <div class="form-group" id="deviceEntity" style="max-width:100%;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >Devide ID</label>
                            <input   id="deviceEntityValue" class="form-control"  autocomplete="off"  disabled/>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>